html{
    width:100vw;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    --blue:#356AF3;
    --yellow:#EFCC40;
}

body::selection{
    color: black;
    background-color: #fffd79;
}

#navbar{
    background-color:var(--blue);
    display: block;
    text-decoration: none;
    text-align: center;
    margin: auto;
    max-height: 160px;
    padding-bottom: 10px;  
    padding-top: 10px;
    padding-left: 5%;
    float: left;
    width:95vw;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    margin-right: 20px;

}

.navbar-links{
    text-decoration: none;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 40px;
    padding-right: 40px;
}

.title h1,.title h2{
    margin:0px;
    text-align: center;
    color: white;
    vertical-align: bottom;
}


.title{
    background-image: linear-gradient(#ffffff80,#00000080),url("./banner.jpg");
    min-height:25em;
}


.about-us{
    background-color: var(--blue);
    padding: 20px 20px 20px 0px;
    color:white;
    text-align: center;
}

#leaders-title{
    background-color: var(--yellow);
    color: black;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.images{
    height:20em;
    width:20em;
    object-fit: cover;
    border-radius:50%;
}

.leaders_table{
    width:100vw;
    display: flex;
    justify-content: center;
    background-color: var(--yellow);
}

td{
    width: 25vw;
}



h1, h2, h3, h4, p,a {
    transition-duration: 0.5s;
}
p:hover, h1:hover, h2:hover, h3:hover, h4:hover, a:hover{
    transform: translateY(5px);
}

.name{
    font-weight: bold;
}

.position{
    font-style: italic;
    font-weight: 400;
}

footer{
    padding:0px;
    margin:0px;
    background-color:var(--blue);
    height:10vh;
}